@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.submit-button {
  padding-top: 0.5rem/* 8px */;
  padding-bottom: 0.5rem/* 8px */;
  font-size: 1rem /* 16px */;
  line-height: 1.5rem /* 24px */;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Have error with background of the primary button
  Solved: https://stackoverflow.com/questions/56718231/is-there-a-way-to-change-antd-internal-buttons-color
*/
.ant-btn-primary {
  background-color: rgba(52,86,139, 1);
}
