@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
@import url('./assets//styles/reset.css');

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    font-family: 'Noto Sans JP', Inter, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
 